/* Base Styling */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h3 {
  background-color: #004080;
  padding: 10px;
}

a {
  text-decoration: none; 
  color: inherit;
  cursor: text; 
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

/* Navbar styling */

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo img {
  padding-top: 20px;
  width: 75px;
}

.menu-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
}

.mobile-menu .menu-wrap {
  background: #fff;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1100;
}

.menu-toggle {
  font-size: 20px;
  color: var(--primary);
}

.main-navigation .nav-list {
  background-color: black;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.main-navigation .nav-item {
  background-color: black;
  margin: 0 15px;
}

.main-navigation .nav-item a {
  background-color: black;
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 15px;
  transition: color 0.3s ease-in-out;
}

.main-navigation .nav-item a:hover {
  color: var(--primary);
}

.header_bar {
  padding: 10px 0;
}

.header_top_right {
  float: right;
  text-align: right;
}

#menu {
  position: relative;
  text-align: right;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 4px;
}

#menu ul li:last-child {
  margin-right: 0;
}

#menu ul li a {
  color: black;
  padding: 8px 25px;
  display: block;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

#menu ul li a:hover,
#menu ul li.active a,
#menu ul li.current_page_item > a,
#menu ul li.current-menu-ancestor > a,
#menu ul li.current-menu-item > a,
#menu ul li.current-menu-parent > a {
  color: var(--primary);
}

#menu li > ul {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  min-width: 220px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background: white;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}

#menu li > ul li {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  display: block;
  position: relative;
  margin: 0;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
}

#menu li > ul li a {
  color: black;
  font-size: 14px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 500;
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#menu ul li a i {
  font-size: 14px;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

#menu li:hover > a i {
  transform: rotate(180deg);
}


#menu li > ul li:hover {
  background-color: gray;
}

#menu li > ul li:hover a {
  color: white;
}

/* Header Dropdown Styling */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white; /* Default white background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.dropdown-menu li a:hover {
  background-color: #535353;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-arrow {
  font-size: 14px;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.dropdown:hover .dropdown-arrow {
  transform: rotateX(180deg);
}


/* Carousel Styling */

.carousel-inner {
  padding: 0;
  margin: 0;
  cursor: e-resize; 
  position: relative; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.carousel-item img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

.carousel-caption {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* Product Card Styling */

.product-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 0;
}

.product_thumb {
  display: block;
  overflow: hidden;
}

.product_img {
  width: 100%;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  display: block;
}


.product_title {
  position: relative;
  background-color: #004080;
  color: #004080;
  padding: 10px;
  text-align: center;
  z-index: 2;
  transition: background-color 0.4s ease-in-out;
  font-size: 25px;
}

.product-card:hover .product_img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.product-card:hover .overlay {
  background: #868789;
}

.product-card:hover .product_title {
  background-color: #868789;
  color: black;
}

/* Banner Styling */

.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


/* News Card Styling */

.news-card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-img-container {
  position: relative;
  overflow: hidden;
}

.news-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 5px 5px 0 0;
}

.news-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.news-img-container:hover .news-img {
  transform: scale(1.05);
  filter: brightness(70%);
}

.news-img-container:hover .news-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.news-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.news-text {
  font-size: 1.2rem;
  margin: 0.75rem 0;
  line-height: 1.5;
}

.news-body {
  padding: 1rem;
  text-align: center;
}

.news-link {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #004080;
  font-weight: bold;
  transition: color 0.3s ease;
}

.news-link:hover {
  color: #00264d;
}

/* Testimonials */

.testimonials p {
  padding-left: 500px;
  padding-right: 500px;
}

.testimonials h6 {
  color: #004080;
}

/* Footer Styling */

.footer-wraper {
  padding: 70px;
  padding-inline: 1px;
}

footer h6 {
  font-size: medium;
}

footer p {
  font-size: medium;
  padding-right: 50px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 8px;
}

.name-headings {
  font-size: small;
  padding-top: 10px;
  padding-bottom: 0;
}


/* Contact Hover Effect */
.underline-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.underline-hover:hover::after {
  width: 100%;
}

/* Button Design for website */

.btn-primary {
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 0px;
  border: 2px solid transparent;
}

/* Section Styling */
section {
  padding: 0;
  margin: 0;
}

.row.g-4 {
  gap: 1.5rem;
}

/* Overlay Effect */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.4s ease-in-out;
  z-index: 1;
}